<main>
	<nav class="nav">
		<button class="nav__button" id="back">
			<img src="svg/nav/arrow_left.svg" alt="go back">
		</button>
		<button class="nav__button" id="forward">
			<img src="svg/nav/arrow_right.svg" alt="forward">
		</button>
		<button class="nav__button" id="reload">
			<img src="svg/nav/reload.svg" alt="reload">
		</button>
		<button class="nav__button" id="home">
			<img src="svg/nav/home.svg" alt="home">
		</button>
		<input type="text" class="nav__input" id="input">
		<button class="nav__button" id="go">
			<img src="svg/nav/goto.svg" alt="go to">
		</button>
	</nav>
</main>